[color]
	ui = auto
[merge]
	conflictstyle = diff3
[user]
	name = Sophia Mai
	email = phuongmai001@gmail.com
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = magenta bold
	untracked = red bold
